.circular-progress {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: conic-gradient(#9c27b0, #00bcd4, 270deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 6px -1px rgba(0, 0, 0, 0.15),
    -2px 0px 10px -1px rgba(255, 255, 255, 0.7);
  /* animation: move 2s linear; */
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #2b3035;
  box-shadow: inset 3px 4px 10px rgba(0, 0, 0, 0.2),
    inset 0px 0px 4px rgba(255, 255, 255, 0.7);
}

.progress-value {
  position: relative;
  font-weight: 500;
  color: #00bcd4;
}

/* @keyframes move {
  10% {
    background: conic-gradient(#9c27b0, #00bcd4, 63deg, #ededed 0deg);
  }
  40% {
    background: conic-gradient(#9c27b0, #00bcd4, 126deg, #ededed 0deg);
  }
  70% {
    background: conic-gradient(#9c27b0, #00bcd4, 189deg, #ededed 0deg);
  }
  100% {
    background: conic-gradient(#9c27b0, #00bcd4, 252deg, #ededed 0deg);
  }
} */
