.skills-container {
  width: 75%;
  margin: 0 auto;
}

/* #slider-track div:nth-child(1) {
  background-image: url("../../../../portfolio/public/skills-logo/html-5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 3rem;
  width: 10rem;
  transition: 0.2s ease;
} */

.images-div img {
  height: 4.5rem;
  width: 5rem;
  object-fit: contain;
  transition: 0.2s ease;
  padding: 0.5rem 0;
}
.images-div img:hover {
  transform: scale(1.2);
}

#carousel-container {
  position: relative;
  width: 25rem;
  overflow: hidden;
  margin: 3rem auto 1rem auto;
  transform: translate3d(0, 0, 0);
}

#carousel-container::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 100%;
  background: linear-gradient(
    to right,
    rgb(43, 48, 53, 1) 0%,
    rgb(20, 19, 26, 0) 100%
  );
  left: 0;
  top: 0;
  z-index: 99;
}

#carousel-container::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 100%;
  background: linear-gradient(
    to left,
    rgb(43, 48, 53, 1) 0%,
    rgb(20, 19, 26, 0) 100%
  );

  right: -1px;
  top: 0;
  z-index: 99;
}

#slider-track {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 200%;
  animation: scroll 20s linear infinite;
}

#slider-track:hover {
  animation-play-state: paused;
}

.skills-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.skills-icon .svg-inline--fa {
  height: 1.5rem;
  position: relative;
  bottom: 0.16rem;
}

.skills-list {
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem;
}

.skill-item {
  color: #00bcd4;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.skill-div {
  display: grid;
  text-align: center;
  gap: 1rem;
}

.puff-in-center {
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@media screen and (max-width: 680px) {
  .skills-container {
    width: 85%;
    margin: 0 auto;
  }

  #carousel-container {
    position: relative;
    width: 15rem;
    overflow: hidden;
    margin: 3rem auto 1rem auto;
    transform: translate3d(0, 0, 0);
  }

  #slider-track {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 270%;
    animation: scroll 20s linear infinite;
  }

  .skills-list {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1rem;
  }
}

@keyframes scroll {
  100% {
    transform: translateX(-50%);
  }
}

@keyframes puff-in-center {
  0% {
    transform: scale(2);

    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);

    filter: blur(0px);
    opacity: 1;
  }
}
