.contact-container {
  width: 75%;
  margin: 0 auto;
  padding: 5rem 0;
}

.contact-me {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}

.send-message {
  font-size: x-large;
  font-weight: bold;
  color: #00bcd4;
  padding: 0.5rem 0;
}

.contact-form {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  row-gap: 1rem;
  column-gap: 2rem;
  justify-content: center;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.wid {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.row {
  padding: 0.5rem 0;
}

.send {
  margin-top: 0.5rem;
  width: 5rem;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
  border-bottom: 1px solid #00bcd4 !important;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root::before,
.css-uhyr2s-MuiInputBase-root-MuiInput-root::before {
  border-bottom: 1px solid #00bcd4 !important;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root,
.css-uhyr2s-MuiInputBase-root-MuiInput-root {
  color: #00bcd4 !important;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root {
  color: #00bcd4 !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #00bcd4 !important;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root::after {
  border-bottom: 2px solid #00bcd4 !important;
}

.css-uhyr2s-MuiInputBase-root-MuiInput-root::after,
.css-jcincl::after,
.css-beyip3::after {
  border-bottom: 2px solid #00bcd4 !important;
}

.css-mqt2s5,
.css-jcincl,
.css-beyip3,
.css-348fk2.Mui-focused {
  color: #00bcd4 !important;
}

.css-jcincl::before,
.css-beyip3::before {
  border-bottom: 1px solid #00bcd4 !important;
}

.toast-message {
  background: #00bcd4;
}

@media screen and (max-width: 680px) {
  .contact-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .contact-me {
    width: 100%;
    margin: 2rem auto;
  }
}
